{% extends '::base.html.twig' %}

{% block title "Our burgers" %}

{% block content %}
{% for burger in burgers %}
<div class="row">
    <div class="span6 offset3 well">
        <h2>{{burger.name}} <small>${{burger.price|number_format(2, '.', ',')}}</small></h2>
        <div>
            {{burger.description|markdown}}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}